// Chart & Graph Variable
$default-padding: 20px;
$default-margin: 20px;

$primary-color: $pink--charts;
$secondary-color: $bunting;
$primary-color-filter: $blue;
$secondary-color-filter: $pink--filter;

$primary-color-challenge: rgb(160, 55, 128);
$secondary-color-challenge: rgb(29, 22, 86);
$tertiary-color-challenge: rgb(216, 82, 126);
