/* Global Style Reset Here */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,800');


::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  //    border-radius: 4px;
  background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  //    border-radius: 4px;
  background: rgba(0,0,0,0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.2);
}

html {
  @include onlyIfIE() {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

}

html,body {
  min-height: 800px;
}

html > body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: rem-calc(0.15px);
  color: $gray-light;

  // For in-element scroll
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    //    border-radius: 4px;
    background: rgba(0,0,0,0.2);
  }
}

a[ui-sref] {
  text-decoration: none;
  color: $gray;
  transition: color .3s ease-out;

  &:hover {
    color: $black;
  }

}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// SEEK container measurement
#root {

}

.dl-root {

}


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

[ng-bind-html] {
  svg {
    width: 100%;
  }
}

// Bootstrap Print .scss First Letter Problem
// Overwrite here
@media print {
  ::first-letter{
    margin: 0 !important;
    padding: 0 !important;;
  }
}
